@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* ===== GLOBAL ===== */

:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ===== APP ===== */
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
}

.card {
  position: relative;
  width: 50%;
  height: 70%;
  border: 5px solid #212121;
  border-radius: 1.3rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  border: solid 1px #212121;
  border-radius: 1rem 1rem 0 0;
  border-bottom: solid 4px #212121;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  background-color: #0D7377;
  color: #EEEEEE;
}

.refresh {
  font-size: 3rem;
  transition: 500ms all ease;
  cursor: pointer;
}

.refresh:hover {
  color: #212121;
}

.content {
  height: 80%;
  padding: 1rem 2rem;
  border-radius: 0 0 1rem 1rem;
  color: #212121;
  background-color: #32E0C4;
}

.content-top {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.content-top h3 {
  font-size: 1.5rem;
}

.content-top p {
  margin: 0.3rem 0;
}

.content-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.content-mid p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.content-bot {
  display: flex;
  width: 100%;
}

.content-bot p {
  margin: 0.3rem 0;
}

.left {
  width: 51%;
}

.timezone {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 0.8rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
  :root {
    font-size: 14px;
  }

  .card {
    width: 90%;
  }

  .top {
    font-size: 1.3rem;
  }

  .refresh {
    font-size: 2.5rem;
  }

  .content {
    padding: 0.5rem 1rem;
  }
}