@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* ===== GLOBAL ===== */

:root {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ===== APP ===== */
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 50%;
  height: 70%;
  border: 2px solid;
  border-radius: 1rem;
}

.top {
  border: solid 1px;
  border-radius: 1rem 1rem 0 0;
  border-bottom: solid 3px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.content {
  padding: 1rem 2rem;
}

.content-top {
  font-size: 1.1rem;
}

.content-top h3 {
  font-size: 1.5rem;
}

.content-top p {
  margin: 0.3rem 0;
}

.content-mid p {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.content-bot {
  display: flex;
  width: 100%;
}

.left {
  width: 51%;
}

.timezone {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}